TAVILY_API_KEY=
DOC_PATH=./my-docs

# set the custom OpenAI API url
# OPENAI_BASE_URL=http://192.168.100.43:5001/v1
OPENAI_BASE_URL=http://host.docker.internal:5001/v1

# set the custom OpenAI API key
OPENAI_API_KEY=dummy_key

# specify custom llms  
# FAST_LLM=openai:gpt-oss-120b
# SMART_LLM=openai:gpt-oss-120b
# STRATEGIC_LLM=openai:gpt-oss-120b
FAST_LLM=openai:gpt-oss-20b
SMART_LLM=openai:gpt-oss-20b
STRATEGIC_LLM=openai:gpt-oss-20b

# embedding model
EMBEDDING=google_genai:models/text-embedding-004
GOOGLE_API_KEY=

# specify custom retriever
RETRIEVER="searx"
SEARX_URL="http://host.docker.internal:4000"

# specify custom scraper
# SCRAPER="tavily_extract"
SCRAPER="firecrawl"
FIRECRAWL_SERVER_URL=http://host.docker.internal:3002
FIRECRAWL_API_KEY=xxx

# Maximum number of research iterations
MAX_ITERATIONS=2 # To increase speed, use 2

# Optional example: Anthropic API key if using Claude
# ANTHROPIC_API_KEY=your_anthropic_api_key_here

# Server configuration
LOG_LEVEL=INFO
PORT=8000 